.App {
  text-align: center;
}

.Navlink{
  text-decoration: none;
  padding-right: 10px;
  color: azure;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.test {
  object-fit: cover;
}

.main-bg {
  height: 300px;
  background-image: url('./img/coding.jpg'); /*이미지 주소 넣고*/ 
  background-size: cover; /*이미지 사이즈 조정해주고*/
  background-position: center; /*이미지 정렬 해주고*/
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
